volumes:
  mysql-data:

services:
  mysql:
    container_name: gorm_generics_example
    image: mysql:9.5
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: gorm_generics_example
    volumes:
      - mysql-data:/var/lib/mysql
    ports:
      - 3306:3306
